<% @page_title = 'Sign in' %>

<div class="slim">
  <h1>Sign in</h1>
  
  <%= form_tag signin_path do %>
    <%= hidden_field_tag :referrer, request.referrer if request.referrer != request.url %><%# Send referrer if it's not self %>
    <%= text_field_tag :user, params[:user], :placeholder => 'Username or Email' %>
    <%= password_field_tag :password, '', :placeholder => 'Password' %>
    <%= submit_tag 'Submit', :class => 'submit' %>
    <%= link_to 'Forgot password?', new_password_reset_path, :class => 'forgot' %>
  <% end %>
</div>