<h1>Sign in</h1>

<%= form_tag signin_path do %>
  <div class="field">
<!--    <%= label_tag :username %>--><br>
    <%= text_field_tag :user, params[:user], :placeholder => 'Username' %>
  </div>
  <div class="field">
<!--    <%= label_tag :password %>--></br>
    <%= password_field_tag :password, params[:password], :placeholder => 'Password'%>
  </div>
  <div class="actions">
    <%= submit_tag "submit" ,:class => 'submit'%>
  </div>
<% end %>
