<% @page_title = 'Editing Profile' %>

<%= form_for @user, :html => { :class => 'user_edit slim' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :bio %>
  <%= f.text_area :bio, :placeholder => 'Tell us a little about yourself' %>
  
  <%= f.label :dribbble_username %>
  <%= f.text_field :dribbble_username, :placeholder => 'Johnapple' %>
  
  <%= f.label :twitter_username, 'Twitter handle' %>
  <%= f.text_field :twitter_username, :placeholder => '@Johnapple' %>
  
  <%= f.label :location %>
  <%= f.text_field :location, :placeholder => 'Outerspace' %>
  
  <%= f.label :local_avatar, 'New Profile Picture' %>
  <%= f.file_field :local_avatar %>
  
  <%= f.label :password, 'New Password' %>
  <%= f.password_field :password %>

  <%= f.submit 'Save changes', :class => 'submit' %>  
<% end %>
