<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :dribbble_username %><br>
    <%= f.text_field :dribbble_username %>
  </p>
  <p>
    <%= f.label :twitter_username %><br>
    <%= f.text_field :twitter_username %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :image_url, "New Profile Picture" %><br>
    <%= f.file_field :image_url %>
  </p>
  <p>
    <%= f.label :password, 'New password' %><br />
    <%= f.password_field :password %>
  </p>
  <div class="actions">
    <%= f.submit 'Save' %>
  </p>
<% end %>
