<p>
  <%= @user.username %>
</p>

<p class="profile_image">
  <%= profile_image_tag @user.image_url %>
</p>

<% if @user.dribbble_username %>
  <p>
    Dribbble: <%= link_to_dribbble @user.dribbble_username %>
  </p>
<% end %>

<p>
  <%= @user.bio %>
</p>

<% if current_user && current_user.id == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>