<div class="profile">
  <%= image_tag @user.avatar.url(:small), :class => 'profile-image' %>
  
  <div class="head">
    <h1><%= @user.username %></h1>
    <%= link_to @user.location, '#' %>
    <%= link_to_dribbble @user, :class => 'social icon-dribbble' %>
    <%= link_to_twitter @user, :class => 'social icon-twitter' %>
  </div>
  
  <p class="bio">
    <%= @user.bio %>
  </p>
  
  <% if current_user && current_user.id == @user.id %>
    <%#= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</div>

<%= render :template => 'posts/index', :locals => { :@posts => @user.posts.where('image_file_name != ""').reverse } %>