<div class="profile">
  <%= profile_image_tag @user, :class => "profile-image" %>
  
  <div class="head">
    <h1><%= @user.username %></h1>
    <%= link_to @user.location, '#' %>
    <%= link_to_dribbble @user, :class => 'social' %>
    <%= link_to_twitter @user, :class => 'social' %>
  </div>
  
  <p class="bio">
    <%= @user.bio %>
  </p>
  
  <% if current_user && current_user.id == @user.id %>
    <%#= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</div>

<%= render :template => 'posts/index', :locals => { :@posts => @user.posts } %>