<% if !logged_in %>
  <div class="preview">
    <p><span class="catch">As a <span class="players"><%= image_tag "dribbble-logo.png", :class =>'ball' %>Player</span>, finding prospects to invite is difficult.</span> 
    Streeetball is show and tell for <span class="prospects"><%= image_tag "favicon.png", :class =>'ball' %>Prospects</span>.</p>
    <a href="#" class="learn">Learn more</a>
  </div>
<% end %>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= raw '-->' if index != 0 %><div class="post">
      <%= link_to (s3_image_tag post.image_url, :alt => post.name), post %>
    </div><%= raw '<!--' if index != @posts.count-1 %>
  <% end %>
</div>
