<% if !logged_in %>
  <div class="preview">
    <p><span>As a <span class="dribbble"><%= image_tag "dribbble-logo.png", :class =>'ball' %>Player</span>, finding prospects to invite is difficult.</span> 
    Streeetball is show and tell for <span>Prospects</span>.</p>
    <a href="#" class="learn">Learn more</a>
<!--    <%= image_tag "SB-logo-bounce.png", :class =>'bounce' %>-->
  </div>
<% end %>

<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <%= raw '-->' if index != 0 %><div class="post">
      <%= link_to (s3_image_tag post.image_url, :alt => post.name), post %>
    </div><%= raw '<!--' %>
  <% end %>
</div>