<h1>New post</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, :placeholder => 'Title (e.g., Kittens)' %>
    <%= f.text_area :description, :placeholder => 'Description (e.g., Fluffy had kittens this weekend so I decided to vectorize them)' %>
    
    <div class="upload">
      <%#= f.label :local_image %>
      <%= f.file_field :local_image %>
      <div class="fineprint">
      *images not 400 x 300 px in size must be cropped <br>
      *only one image per 24h can be uploaded at a time
      </div>
    </div>
    
    <%= f.submit 'Next step', :class => 'submit' %>
<% end %>
