<% @page_title = 'New Post' %>

<h1>New post</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, :placeholder => 'Name' %>
    <%= f.text_area :description, :placeholder => 'Description (not required)' %>
    
    <%= f.label :local_image, 'Image' %>
    <%= f.file_field :local_image %>

    <%= f.submit 'Submit', :class => 'submit' %>
<% end %>
