<% @page_title = @post.name %>

<div class="single">
  <div class="post">
    <%= image_tag @post.image.url(:regular), :alt => @post.name %>
  </div>
  
  <h1><%= @post.name %></h1>
  
  <div class="details">
    <div class="by">by <%= link_to @post.user.username, @post.user %></div>
    
    <div class="social">
      <% liked = ' liked' if @post.likes.find_by_user_id(current_user) %>
      <%= link_to @post.likes.count, like_post_path, :class => 'icon-heart js-post-like'+(liked||'') %>
      <%= link_to @comments.count, '#comments', :class => 'icon-comments' %>
    </div>
  </div>
  
  <%= render :template => "comments/index" %>
  
  <% if logged_in %>
    <%= render :template => "comments/new" %>
  <% end %>
</div>