<div class="single">
  <div class="post">
    <%= s3_image_tag @post.image_url %>
  </div>
  
  <h1><%= @post.name %></h1>
  
  <div class="by">
    by <%= link_to @post.user.username, @post.user %>
  </div>
  
  <%= render :template => "comments/index" %>
  
  <% if logged_in %>
    <%= render :template => "comments/new" %>
  <% end %>
</div>