<!DOCTYPE html>
<html>
<head>
  <title>Streeetball &mdash; Prospect's Welcome</title>
  <%= stylesheet_link_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-nav">
    <div class="wrapper">
      <%= link_to (image_tag 'logo-nav.png'), root_path, :class => 'logo' %>
      <div class="user-functions">
        <% if logged_in %>
          <%= link_to (image_tag current_user.avatar.url(:small), :class => 'profile-image'), current_user %>
          <%#= link_to "Upload", new_post_path, :class => 'primary' %>
          <%= link_to "Sign out", signout_path %>
        <% else %>
          <%= link_to "Sign in", signin_path, :class => 'primary' %>
          <%= link_to "Sign up", signup_path %>
        <% end %>
      </div>
    </div>
  </nav>
  
  <div class="wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
    
    <%#= params %>

    <%= yield %>
  </div>
  
  <%= javascript_include_tag 'application' %>
  <%= yield(:javascript) %>
</body>
</html>
